body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #22668D;
}

.container {
    display: block;
    margin: 50px;
    min-width: 500px;
    min-height: 500px;
    background-color: #8ECDDD;
    border-radius: 5%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.header {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 40px;
    font-weight: 600;
    color: #22668D;
}

.container-settings {
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    margin: 30px;
}

.settings {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 20px;
    width: 160px;
}

.div-color,
.div-size {
    display: flex;
    gap: 20px;
    margin-left: 20px;
    align-items: center;
}

p {
    font-size: 24px;
    font-weight: bold;
    color: #22668D;
}

.input-color:hover ,
.btn-clear:hover {
    transform: scale(1.05);
}

.input-color {
    -webkit-appearance: none;
    appearance: none;
    width: 50px;
    height: 50px;
    border: none;
    background-color: #8ECDDD;
}
  
.input-color::-webkit-color-swatch-wrapper {
    padding: 0;
}
  
.input-color::-webkit-color-swatch {
    border: none;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.input-size {
    -webkit-appearance: none;
    appearance: none;
    width: 80px;
    height: 5px;
    cursor: pointer;
    border-radius: 0;
    border: 1px solid white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 12px;
    height: 20px;
    background: #fff;
    border: 2px solid #22668D;
}

.btn-clear {
    align-self: center;
    margin-top: 20px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    border: 2px solid #22668D;
    background-color: #8ECDDD;
    color: #22668D;
    font-size: 20px;
}

.grid {
    display: grid;
    width: 400px;
    height: 400px;
    background-color: var(--secondary-light);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.grid-element {
    user-select: none;
}
